# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.venv/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/

# Test/cache files
.pytest_cache/
.mypy_cache/

# Output files
data/sample_output/*.csv
data/sample_output/*.xlsx

# Keep folder structure
!data/sample_output/.gitkeep